.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". tw1 tw1 . tw2 tw2 ."
      ". tw1 tw1 . tw2 tw2 ."
      ". tw1 tw1 . tw2 tw2 .";
  }
  
  .tw1 { grid-area: tw1; }
  
  .tw2 { grid-area: tw2; }
  