.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "mapa mapa mapa tweets"
      "mapa mapa mapa tweets"
      "mapa mapa mapa tweets";
  }
  
  .mapa { grid-area: mapa; }
  
  .tweets { grid-area: tweets; }
  