{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Heat Map</title>
    <link
      rel="stylesheet"
      href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css"
    />
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <style>
      #map {
        width: 800px;
        height: 600px;
      }
      body {
        font: 16px/1.4 "Helvetica Neue", Arial, sans-serif;
      }
      .ghbtns {
        position: relative;
        top: 4px;
        margin-left: 5px;
      }
      a {
        color: #0077ff;
      }
    </style>
  </head>
  <body>
    <p>
      <iframe
        class="ghbtns"
        src="http://ghbtns.com/github-btn.html?user=miguelpantoja89&amp;repo=CBD-TweetMaps&amp;type=watch&amp;count=true"
        allowtransparency="true"
        frameborder="0"
        scrolling="0"
        width="90"
        height="20"
      ></iframe>
    </p>

    <div id="map"></div>

    <!-- <script src="../node_modules/simpleheat/simpleheat.js"></script>
<script src="../src/HeatLayer.js"></script>
 -->
    <script src="{% static 'leaflet-heat.js' %}"></script>

    <!-- <script src="http://leaflet.github.io/Leaflet.markercluster/example/realworld.388.js"></script> -->
    <script>
        
        
        var mapOptions = {
            center: [37.392529, -5.994072],
            zoom: 10,
            minZoom: 1,
            maxZoom: 15,
            dragging: true
         }
      var map = L.map('map', mapOptions);

    //   var tiles = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    //       attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
    //   }).addTo(map);
    var Esri_WorldImagery = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
	attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
}).addTo(map);


      // addressPoints = patata.map(function (p) { return [p[0], p[1]]; });
      let tweets = []
      {% for de in patata %}
        tweets.push([{{de.latitud}},{{de.longitud}},20.5])
      {% endfor %}
      console.log(tweets)
       var heat = L.heatLayer(tweets,{radius: 50}).addTo(map),
       draw = true;
      
  
     
    </script>
  </body>
</html>
