{% load static %}

<!DOCTYPE html>
<html>
   <head>
      <title>Leaflet sample</title>
      <link rel = "stylesheet" href = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
      <script src = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
      <script src="{% static 'leaflet-heat.js' %}"></script>
      <link rel="stylesheet" href="{% static 'mapa2.css' %}">
      <link rel="stylesheet" href="{% static 'card.css' %}">
   </head>
   
   <body>
      {% include 'header.html' %}
      <div class="grid-container">
         <div class="mapa">
            <div id = "map" style = "width:800px; height:480px"></div>
         </div>
         <div class="tweets">
            {% for device in patata%}
            <div class="card">
               <div class="container">
                  <p>{{device.titulo}}</p>
               </div>
             </div>
             {% endfor %}
         </div>
       </div>
      <script>
        // Icon options
        var iconOptions = {
            iconUrl: "{% static 'logo.png' %}",
            iconSize: [50, 50]
         }
         // Creating a custom icon
         var customIcon = L.icon(iconOptions);
         
         // Creating Marker Options
         var markerOptions = {
            title: "MyLocation",
            clickable: true,
            draggable: false,
            icon: customIcon
         }
         // Creating map options
         var mapOptions = {
            center: [37.392529, -5.994072],
            zoom: 1,
            minZoom: 1,
            maxZoom: 15,
            dragging: true
         }
         // Creating a map object
         var map = new L.map('map', mapOptions);
         
         // Creating a Layer object
         
         // map.addLayer(layer);

         
         // Creating a marker
         // var marker = L.marker([37.392529, -5.994072],markerOptions);
         {% for device in patata %}
			
		
         marker = new L.marker([{{device.latitud}}, {{device.longitud}}]).bindPopup("{{device.text}}").addTo(map);  
		
          {% endfor %}
          let tweets = []
      {% for de in patata %}
        tweets.push([{{de.latitud}},{{de.longitud}},20.5])
      {% endfor %}
      var heat = L.heatLayer(tweets,{radius: 50});
          
         
      var layers = {
            Miguel :  L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
          attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      }),
            Chao: L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
	attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
}),
Calor : heat,
};
     
         layers.Miguel.addTo(map);
         // Adding layer to the map
         L.control.layers(layers).addTo(map);
      </script>
   </body>
   
</html>