{% load static %}
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>
    <link rel="stylesheet" href="{% static 'stats.css' %}" />
  </head>
  <body>
    {% include 'header.html' %}
    <div class="grid-container">
    
      <div class="gra1">
        <canvas id="chart"></canvas>
      </div>
  <div class="gra2">
    <canvas id="popo"></canvas>
  </div>
  <div class="gra3">
    <canvas id="chart3"></canvas>
  </div>
  <div class="gra4">
    <canvas id="myChart"></canvas>
  </div>
  
 

    <script>
      let ctx = document.getElementById("chart").getContext("2d");
      let countries = [];
      {% for p in paises %}
            countries.push("{{p}}")
      {% endfor %}

      let chart = new Chart(ctx, {
        type: "bar",
        data: {

           labels: countries,
           datasets: [
              {
               scaleStartValue:-1,
                label: "Numero Tweets",
                backgroundColor: 'rgb(54, 162, 235)',
                borderColor: '#073D79',
                data: {{tweetsPorPais}},
              }
           ]
        },
        options: {
          legend: {
                labels: {
                    fontColor: "white",
                    fontSize: 15
                }
            },
          
           title: {
              text: "Numero Tweets por pais",
              display: true,
              fontColor: "white"
           },
           scales:{
            yAxes:[{
              
               ticks: {
                fontColor: "white",
            stepSize: 1,
            min: 0,
            }
            }]
            ,
            xAxes: [{
                ticks: {
                    fontColor: 'white'
                },
            }]
           }
        }
      });



          let ctx1 = document.getElementById("popo").getContext("2d");

          let chart1 = new Chart(ctx1, {
            type: "doughnut",
            data: {
               labels: ["00:00 - 12:00 h", "12:00 - 00:00 h"],
               datasets: [
                  {
                    label: "Sectores horarios de publicacion",
                    backgroundColor: [
            'rgb(54, 162, 235)',
            '#073D79'
          ],
          hoverOffset: 4,
                    borderColor: [ 'rgb(54, 162, 235)',
            '#073D79'],
                    data: [{{horasM}}, {{horasT}}]
                  }
               ]
            },
            options: {
              legend: {
                labels: {
                    fontColor: "white",
                    fontSize: 15
                }
            },
               title: {
                fontColor: "white",
                  text: "Sectores horarios de publicacion",
                  display: true
               }
            }
          });

      let dias = document.getElementById("chart3").getContext("2d");

      let diasChart = new Chart(dias, {
        type: "line",
        data: {
           labels: ["Lunes", "Martes", "Miercoles", "Jueves","Viernes", "Sabado", "Domingo"],
           datasets: [
              {
                label: "# Tweets por dia",
                backgroundColor:'#073D79',
                borderColor: 'rgb(54, 162, 235)',
                data: {{semanaLast}}
              }
           ]
        },
        options: {
          
           scales:{
            yAxes:[{
              
               ticks: {
                fontColor: "white",
            stepSize: 1,
            min: 0,
            }
            }],
            xAxes: [{
                ticks: {
                    fontColor: 'white'
                },
            }]
           },
          legend: {
                labels: {
                    fontColor: "white",
                    fontSize: 15
                }
            },
           title: {
            fontColor: "white",
              text: "Tweets por dia en la ultima semana",
              display: true
           }
        }
      });

      let semana = document.getElementById("myChart").getContext("2d");

      let semanaChart = new Chart(semana, {
        type: "pie",
        data: {
           labels: ["Aplicacion Web", "Aplicacion Movil"],
           datasets: [
              {
                label: "Tweets #",
                backgroundColor:[
                'rgb(54, 162, 235)',
            '#073D79'
          ],
                borderColor: [
                'rgb(54, 162, 235)',
            '#073D79'
          ],
                data: [{{web}}, {{app}}]
              }
           ]
        },
        options: {
          legend: {
                labels: {
                    fontColor: "white",
                    fontSize: 15
                }
            },
           title: {
            fontColor: "white",
              text: "Tweets publicados en App frente en la Web",
              display: true
           }
        }
      });

      
    </script>
  </body>
</html>
